<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>proyectoDjango</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
        <ul
            class="nav nav-tabs"
            id="navId"
            role="tablist"
        >
            
        <li class="nav-item"> 
                <a
                    href="/creartareas/"
                    class="nav-link active"
                    aria-current="page"
                    >crear tareas</a
                >
                 <a
                    href="/contactos/"
                    class="nav-link active"
                    aria-current="page"
                    >/contactos/</a


            </li>

        </ul>
        
    
        </header>
        {% block content %}
        
        {% endblock content %}
       
        <footer>
            <div class="content bg-info fw-bold text-center">
                <h3> 2026 - Jairo</h3>
          